/* Colours */
$colour-bg-light: #fff4f1;
$colour-bg-dark: #1c1919;
$colour-main: #441d81;
$colour-highlight: #ec315a;
$colour-highlight-transp: #ec315a12;
$colour-text-field: #222222;
$colour-pure-white: #fff;

/* Shapes & Sizes */
$rounding: 4px;
