@use "../../styles/base/" as *;
@use "../../styles/abstracts/" as *;

.booking {
  padding: 1rem;
  @include flexCenter;

  &__logo {
    flex: 0 1 190px;

    &__heading {
      font-size: 3.75rem;
      margin-top: 0.4rem;
    }
  }

  &__form {
    width: 100%;

    &__subsection {
      border: none;
      border-top: 2px solid $colour-main;

      &__title {
        text-transform: uppercase;
        color: $colour-main;
        font-size: 2rem;
        text-align: center;
      }

      &--general {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1rem 1fr);
        grid-template-areas:
          "dl tl"
          "di ti"
          "pl pl"
          "pi pi"
          "ll ll"
          "li li";
      }
    }
  }
}

.subsection__label {
  width: fit-content;
  padding: 0 0.5em;
  background-color: $colour-bg-light;
  color: $colour-main;
  text-transform: uppercase;
  transform: translate(1.3em, 50%);

  &--date {
    grid-area: dl;
  }

  &--time {
    grid-area: tl;
  }

  &--people {
    grid-area: pl;
  }

  &--lanes {
    grid-area: ll;
  }
}

.subsection__input {
  font-size: 1.2rem;
  height: 3rem;
  padding: 0.5em 0.6em;
  background-color: $colour-bg-light;
  border: 2px solid $colour-main;
  border-radius: $rounding;

  &--date {
    grid-area: di;
  }

  &--time {
    grid-area: ti;
  }

  &--people {
    grid-area: pi;
  }

  &--lanes {
    grid-area: li;
  }
}
