@use "./base/" as *;
@use "./abstracts/" as *;

body {
  background-color: $colour-bg-light;
  min-height: 100vh;
}

main {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: $colour-highlight;
}

h2 {
  color: $colour-main;
}

button {
  background-color: $colour-highlight;
  color: $colour-pure-white;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  font-size: 2rem;
  min-height: 48px;
  cursor: pointer;

  &:hover,
  &:focus {
    filter: brightness(120%);
  }

  &:active {
    background-color: $colour-main;
  }
}

.text-btn {
  padding: 0.5rem 1.5rem;
  border-radius: $rounding;

  &--fullwidth {
    width: 100%;
  }
}
